<!doctype html>
<html>
<head>
    <title>Available Classes</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('input[type="checkbox"]').change(function() {
                let selectedClassIds = $('input[type="checkbox"]:checked').map(function() {
                    return $(this).val();
                }).get();

                if (selectedClassIds.length > 0) {
                    $.ajax({
                        url: "/class_times",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ class_ids: selectedClassIds }),
                        success: function(response) {
                            $('#classTimes').empty();
                            $.each(response, function(classId, times) {
                                $('#classTimes').append(`<h3>Time Slots for Class ID: ${classId}</h3><ul>`);
                                $.each(times, function(i, time) {
                                    $('#classTimes').append(`<li>${time.days}: ${time.start_time} - ${time.end_time}</li>`);
                                });
                                $('#classTimes').append('</ul>');
                            });
                        }
                    });
                } else {
                    $('#classTimes').empty();
                }
            });
        });
    </script>
</head>
<body>
    <h1>Select Available Classes</h1>
    <form id="classForm">
        {% for class in classes %}
            <div>
                <input type="checkbox" id="class{{ class['id'] }}" value="{{ class['id'] }}">
                <label for="class{{ class['id'] }}">{{ class['class_id'] }}</label>
            </div>
        {% endfor %}
    </form>
    <div id="classTimes"></div>
</body>
</html>
